# Logs
logs
*.log
npm-debug.log*

# Bower dependency directory (https://bower.io/)
bower_components

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm
node_modules/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Output of 'npm pack'
*.tgz

# environment variables files
.env
.env-bash
*.private.env.json

composer.phar
vendor/
# Commit your application's lock file https://getcomposer.org/doc/01-basic-usage.md#commit-your-composer-lock-file-to-version-control
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock

########################################################################################################################

public/mix-manifest.json
public/js/**
public/css/**
public/images/**
public/fonts/**

tests/.phpunit.result.cache

.git-branches/HEAD.bdesc
.git-branches/dev.bdesc
.git-branches/master.bdesc

/dist

.phpunit.*

########################################################################################################################

.idea/
.idea_modules/

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# End of https://www.gitignore.io/api/visualstudiocode
